@{
    ViewBag.Title = "Potwierdzenie zmiany hasła";
}

<hgroup class="title">
    <h2 class="mt-5">@ViewBag.Title</h2>
</hgroup>
<div>
    @if (User.IsInRole("Admin"))
    {
    <p>
        Hasło zostało zmienione.
        
    </p>
    }
    else
    {
        <p>
        Zresetowano hasło. @Html.ActionLink("Kliknij tutaj, aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
    }
</div>
